.square {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: square;
    animation-duration: 4s;
    animation-delay: 2s;
    /*animation-iteration-count: 3;*/
    /*animation-direction: alternate-reverse;*/
    animation-fill-mode: backwards;
}

@keyframes square {
    from {
        top: 0px;
        background-color: yellow;
    }
    to {
        top: 200px;
    }
}


/*@keyframes square {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
    25% {
        background-color: yellow;
        left: 200px;
        top: 0px;
    }
    50% {
        background-color: blue;
        left: 200px;
        top: 200px;
    }
    75% {
        background-color: green;
        left: 0px;
        top: 200px;
    }
    100% {
        background-color: red;
        left: 0px;
        top: 0px;
    }*/


}