.square {
    background: green;
    border-radius: 5px;
    height: 150px;
    margin: 100px;
    transition: transform 1s;
    width: 150px;
}

.square:hover {
    background-color: greenyellow;
    transform: rotate(360deg);
}